/* Full page centering */
.page-container {
    padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eef2f5;
}

/* Central container for cards */
.people-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
  width: 600px;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

.person-card {
  display: flex;
  flex-direction: row;
  background-color: #f5f5f5;
  border-radius: 8px;
  width: 90%;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s ease-in-out;
}

.person-card:hover{
    cursor: pointer;
}

.person-card:hover {
  transform: scale(1.03);
}

.person-img {
  width: 100px;
  height: 100px;
  border-radius: 8px;
  object-fit: cover;
  margin-right: 15px;
}

.person-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.person-info h3 {
  margin: 0 0 10px;
  font-size: 18px;
  color: #333;
}

.person-info p {
  margin: 3px 0;
  font-size: 14px;
  color: #555;
}
